@font-face {
    font-family: 'Koh';
    src: url('../fonts/KohinoorBangla-Bold.eot');
    src: url('../fonts/KohinoorBangla-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/KohinoorBangla-Bold.woff') format('woff'),
    url('../fonts/KohinoorBangla-Bold.ttf') format('truetype'),
    url('../fonts/fontello.svg?91914353#fontello') format('svg');
    font-weight: bold;
    font-style: normal;
}