@font-face {
    font-family: 'Koh-bold';
    src: url('../fonts/KohinoorBangla-Bold.eot');
    src: url('../fonts/KohinoorBangla-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/KohinoorBangla-Bold.woff') format('woff'),
    url('../fonts/KohinoorBangla-Bold.ttf') format('truetype'),
    url('../fonts/fontello.svg?91914353#fontello') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Koh';
    src: url('../fonts/KohinoorBangla-Regular.eot');
    src: url('../fonts/KohinoorBangla-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/KohinoorBangla-Regular.woff') format('woff'),
    url('../fonts/KohinoorBangla-Regular.ttf') format('truetype'),
    url('../fonts/fontello.svg?91914353#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Koh-semi';
    src: url('../fonts/KohinoorBangla-Semibold.eot');
    src: url('../fonts/KohinoorBangla-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/KohinoorBangla-Semibold.woff') format('woff'),
    url('../fonts/KohinoorBangla-Semibold.ttf') format('truetype'),
    url('../fonts/fontello.svg?91914353#fontello') format('svg');
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?uliyoo');
    src:  url('fonts/icomoon.eot?uliyoo#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?uliyoo') format('truetype'),
      url('fonts/icomoon.woff?uliyoo') format('woff'),
      url('fonts/icomoon.svg?uliyoo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-stop2:before {
    content: "\ea1e";
  }
  .icon-google-plus:before {
    content: "\ea8b";
  }
  .icon-twitter:before {
    content: "\e900";
  }
  .icon-brand1:before {
    content: "\e900";
  }
  .icon-tweet:before {
    content: "\e900";
  }
  .icon-social1:before {
    content: "\e900";
  }
  .icon-facebook:before {
    content: "\e901";
  }
  .icon-brand:before {
    content: "\e901";
  }
  .icon-social:before {
    content: "\e901";
  }
  .icon-keyboard_arrow_down:before {
    content: "\e902";
  }
  .icon-keyboard_arrow_left:before {
    content: "\e903";
  }
  .icon-keyboard_arrow_right:before {
    content: "\e904";
  }
  .icon-keyboard_arrow_up:before {
    content: "\e905";
  }
  